.footer_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer_wrapper{
    padding: 50px 120px 50px 0;
     height: 100%;
     right: 0;
     position: fixed;
     top: 0;
     z-index: 333;
}
.footer_wrapper .icon_div{
    padding: 10px;
    border-radius: 50%;
    background-color:#222429;
}